<a href="https://colab.research.google.com/github/roveen001/gfa/blob/main/gfa.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Global Food Analysis on Staple Food Project
## Dashboard

In [9]:
import pandas as pd
import seaborn as sns
import matplotlib.pyplot as plt
import re

In [2]:
# read all the necessary files
# meat production
meat_pn = pd.read_csv('drive/MyDrive/Colab Notebooks/gfa/global-meat-production.csv')
# wheat production
wheat_pn = pd.read_csv('drive/MyDrive/Colab Notebooks/gfa/wheat-production.csv')
# rice production
rice_pn = pd.read_csv('drive/MyDrive/Colab Notebooks/gfa/rice-production.csv')
# orange production
orange_pn = pd.read_csv('drive/MyDrive/Colab Notebooks/gfa/orange-production.csv')

In [4]:
# GDP 
gpd = pd.read_csv('drive/MyDrive/Colab Notebooks/gfa/annual-food-expenditure-per-person-vs-gdp-per-capita.csv' )
gpd.head()

,Entity,Code,Year,GDP per capita (current US$),Food expenditure (USDA (2017)),Population (historical estimates),Continent
0,Abkhazia,OWID_ABK,2015,NaN,NaN,NaN,Asia
1,Afghanistan,AFG,1960,59.773235,NaN,8622473.0,NaN
2,Afghanistan,AFG,1961,59.860901,NaN,8790140.0,NaN
3,Afghanistan,AFG,1962,58.458008,NaN,8969055.0,NaN
4,Afghanistan,AFG,1963,78.706429,NaN,9157463.0,NaN

In [51]:
# Food pricing 
fp = pd.read_csv('drive/MyDrive/Colab Notebooks/gfa/global_food_prices.csv')
fp

/usr/local/lib/python3.8/dist-packages/IPython/core/interactiveshell.py:3326: DtypeWarning: Columns (3) have mixed types.Specify dtype option on import or set low_memory=False.
  exec(code_obj, self.user_global_ns, self.user_ns)

,adm0_id,adm0_name,adm1_id,adm1_name,mkt_id,mkt_name,cm_id,cm_name,cur_id,cur_name,pt_id,pt_name,um_id,um_name,mp_month,mp_year,mp_price,mp_commoditysource
0,1.0,Afghanistan,272,Badakhshan,266,Fayzabad,55,Bread - Retail,0.0,AFN,15,Retail,5,KG,1,2014,50.0000,NaN
1,1.0,Afghanistan,272,Badakhshan,266,Fayzabad,55,Bread - Retail,0.0,AFN,15,Retail,5,KG,2,2014,50.0000,NaN
2,1.0,Afghanistan,272,Badakhshan,266,Fayzabad,55,Bread - Retail,0.0,AFN,15,Retail,5,KG,3,2014,50.0000,NaN
3,1.0,Afghanistan,272,Badakhshan,266,Fayzabad,55,Bread - Retail,0.0,AFN,15,Retail,5,KG,4,2014,50.0000,NaN
4,1.0,Afghanistan,272,Badakhshan,266,Fayzabad,55,Bread - Retail,0.0,AFN,15,Retail,5,KG,5,2014,50.0000,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2050633,271.0,Zimbabwe,3444,Midlands,5594,Mbilashaba,432,Beans (sugar) - Retail,0.0,ZWL,15,Retail,5,KG,6,2021,233.3333,NaN
2050634,271.0,Zimbabwe,3444,Midlands,5594,Mbilashaba,539,Toothpaste - Retail,0.0,ZWL,15,Retail,116,100 ML,6,2021,112.5000,NaN
2050635,271.0,Zimbabwe,3444,Midlands,5594,Mbilashaba,540,Laundry soap - Retail,0.0,ZWL,15,Retail,5,KG,6,2021,114.0000,NaN
2050636,271.0,Zimbabwe,3444,Midlands,5594,Mbilashaba,541,Handwash soap - Retail,0.0,ZWL,15,Retail,66,250 G,6,2021,59.5000,NaN
2050637,271.0,Zimbabwe,3444,Midlands,5594,Mbilashaba,887,Fish (kapenta) - Retail,0.0,ZWL,15,Retail,5,KG,6,2021,1200.0000,NaN

Warning: total number of rows (2050638) exceeds max_rows (20000). Limiting to first (20000) rows.

## Wheat

In [43]:

# lets get the price wheat r'\bwheat gmi'
wheat_pr = fp.groupby(['adm0_name','cm_name','mp_year'],as_index=False)['mp_price'].mean()
wheat_pr = wheat_pr[wheat_pr['cm_name'].str.match('^Wheat.*') == True]
wheat_pr = wheat_pr.groupby(['adm0_name','cm_name','mp_year'],as_index=False)['mp_price'].mean()
wheat_pr

        adm0_name                           cm_name  mp_year   mp_price
0     Afghanistan                    Wheat - Retail     2000  12.116458
1     Afghanistan                    Wheat - Retail     2001  10.286000
2     Afghanistan                    Wheat - Retail     2002   5.923125
3     Afghanistan                    Wheat - Retail     2003   7.089340
4     Afghanistan                    Wheat - Retail     2004   9.061580
...           ...                               ...      ...        ...
1231     Zimbabwe                    Wheat - Retail     2015   0.485000
1232     Zimbabwe                    Wheat - Retail     2016   0.500769
1233     Zimbabwe                    Wheat - Retail     2017   0.550000
1234     Zimbabwe  Wheat flour (fortified) - Retail     2017   1.126316
1235     Zimbabwe  Wheat flour (fortified) - Retail     2018   1.322667

[1236 rows x 4 columns]

In [45]:
wheat_pr.adm0_name.unique()

array(['Afghanistan', 'Argentina', 'Armenia', 'Azerbaijan', 'Bangladesh',
       'Bassas da India', 'Belarus', 'Benin', 'Bhutan', 'Bolivia',
       'Cameroon', 'Cape Verde', 'Central African Republic', 'Chad',
       'China', 'Colombia', 'Congo', 'Democratic Republic of the Congo',
       'Djibouti', 'Ecuador', 'Egypt', 'El Salvador', 'Eritrea',
       'Ethiopia', 'Gabon', 'Georgia', 'Guinea-Bissau', 'Haiti',
       'Indonesia', 'Iraq', 'Japan', 'Jordan', 'Kazakhstan', 'Kenya',
       'Kyrgyzstan', 'Lebanon', 'Lesotho', 'Libya', 'Madagascar', 'Mali',
       'Mauritania', 'Moldova Republic of', 'Mongolia', 'Mozambique',
       'Namibia', 'Nepal', 'Niger', 'Nigeria', 'Pakistan', 'Peru',
       'Russian Federation', 'Rwanda', 'Somalia', 'South Africa',
       'South Sudan', 'Sri Lanka', 'State of Palestine', 'Sudan',
       'Swaziland', 'Syrian Arab Republic', 'Tajikistan', 'Turkey',
       'Ukraine', 'United Republic of Tanzania', 'Yemen', 'Zimbabwe'],
      dtype=object)

## Rice

In [72]:
# lets get the price rice 'r`\bwheat`gmi'
rice_pr = fp.groupby(['adm0_name','cm_name','mp_year'],as_index=False)['mp_price'].mean()
rice_pr = rice_pr[rice_pr['cm_name'].str.match('^Rice.*') == True]
rice_pr = rice_pr.groupby(['adm0_name','cm_name','mp_year'],as_index=False)['mp_price'].mean()
rice_pr

        adm0_name                       cm_name  mp_year    mp_price
0     Afghanistan  Rice (high quality) - Retail     2020   87.353554
1     Afghanistan  Rice (high quality) - Retail     2021   88.027591
2     Afghanistan   Rice (low quality) - Retail     2007   27.249533
3     Afghanistan   Rice (low quality) - Retail     2008   40.336394
4     Afghanistan   Rice (low quality) - Retail     2009   34.720331
...           ...                           ...      ...         ...
2672       Zambia         Rice (local) - Retail     2019   15.919710
2673       Zambia         Rice (local) - Retail     2020   19.172181
2674       Zambia         Rice (local) - Retail     2021   24.355268
2675     Zimbabwe                 Rice - Retail     2020  103.700241
2676     Zimbabwe                 Rice - Retail     2021  107.725844

[2677 rows x 4 columns]

In [48]:
rice_pr.adm0_name.unique()

array(['Afghanistan', 'Algeria', 'Angola', 'Argentina', 'Armenia',
       'Bangladesh', 'Bassas da India', 'Benin', 'Bhutan', 'Bolivia',
       'Burkina Faso', 'Burundi', 'Cambodia', 'Cameroon', 'Cape Verde',
       'Central African Republic', 'Chad', 'China', 'Colombia', 'Congo',
       'Costa Rica', "Cote d'Ivoire", 'Democratic Republic of the Congo',
       'Djibouti', 'Dominican Republic', 'Ecuador', 'Egypt',
       'El Salvador', 'Ethiopia', 'Gabon', 'Gambia', 'Ghana', 'Guatemala',
       'Guinea', 'Guinea-Bissau', 'Haiti', 'Honduras', 'Indonesia',
       'Iran  (Islamic Republic of)', 'Iraq', 'Japan', 'Jordan', 'Kenya',
       'Kyrgyzstan', "Lao People's Democratic Republic", 'Lebanon',
       'Lesotho', 'Liberia', 'Libya', 'Madagascar', 'Malawi', 'Mali',
       'Mauritania', 'Mexico', 'Mongolia', 'Mozambique', 'Myanmar',
       'Namibia', 'Nepal', 'Nicaragua', 'Niger', 'Nigeria', 'Pakistan',
       'Panama', 'Paraguay', 'Peru', 'Philippines', 'Rwanda', 'Senegal',
       'Sierra Leone', 'Somalia', 'South Sudan', 'Sri Lanka',
       'State of Palestine', 'Swaziland', 'Syrian Arab Republic',
       'Tajikistan', 'Thailand', 'Timor-Leste', 'Togo', 'Turkey',
       'Uganda', 'Ukraine', 'United Republic of Tanzania', 'Viet Nam',
       'Yemen', 'Zambia', 'Zimbabwe'], dtype=object)

## Meat

In [73]:
# lets get the price meat 'r`\bwheat`gmi'
meat_pr = fp.groupby(['adm0_name','cm_name','mp_year'],as_index=False)['mp_price'].mean()
meat_pr = meat_pr[meat_pr['cm_name'].str.match('^Meat.*') == True]
meat_pr = meat_pr.groupby(['adm0_name','cm_name','mp_year'],as_index=False)['mp_price'].mean()
meat_pr

     adm0_name                  cm_name  mp_year     mp_price
0      Algeria     Meat (beef) - Retail     2015  1200.000000
1      Algeria    Meat (camel) - Retail     2015   614.814815
2      Algeria    Meat (camel) - Retail     2016   669.459459
3      Algeria  Meat (chicken) - Retail     2015   348.166667
4      Algeria  Meat (chicken) - Retail     2016   338.954545
...        ...                      ...      ...          ...
1129     Yemen   Meat (mutton) - Retail     2016  2726.820000
1130     Yemen   Meat (mutton) - Retail     2017  2937.050000
1131     Yemen   Meat (mutton) - Retail     2018  3834.083333
1132     Yemen   Meat (mutton) - Retail     2019  5176.936170
1133     Yemen   Meat (mutton) - Retail     2020  5869.875000

[1134 rows x 4 columns]

In [56]:
meat_pr.adm0_name.unique()

array(['Algeria', 'Argentina', 'Armenia', 'Bolivia', 'Burundi',
       'Cambodia', 'Cameroon', 'Central African Republic', 'Colombia',
       'Congo', "Cote d'Ivoire", 'Democratic Republic of the Congo',
       'Dominican Republic', 'Egypt', 'Ethiopia', 'Gambia', 'Ghana',
       'Guatemala', 'Guinea', 'Guinea-Bissau', 'Indonesia', 'Iraq',
       'Jordan', 'Kazakhstan', 'Kenya', 'Kyrgyzstan',
       "Lao People's Democratic Republic", 'Lebanon', 'Libya', 'Mali',
       'Mauritania', 'Mongolia', 'Myanmar', 'Nepal', 'Nicaragua',
       'Nigeria', 'Paraguay', 'Peru', 'Philippines', 'Rwanda',
       'Sierra Leone', 'Somalia', 'South Sudan', 'State of Palestine',
       'Syrian Arab Republic', 'Tajikistan', 'Thailand', 'Timor-Leste',
       'Turkey', 'Ukraine', 'United Republic of Tanzania', 'Yemen'],
      dtype=object)

## Orange

In [74]:
# lets get the orange price 'r`\bwheat`gmi'
orange_pr = fp.groupby(['adm0_name','cm_name','mp_year'],as_index=False)['mp_price'].mean()
orange_pr = orange_pr[orange_pr['cm_name'].str.match('^Orange.*') == True]
orange_pr = orange_pr.groupby(['adm0_name','cm_name','mp_year'],as_index=False)['mp_price'].mean()
orange_pr

   adm0_name                         cm_name  mp_year    mp_price
0    Algeria                Oranges - Retail     2015  220.875000
1      Benin                Oranges - Retail     2019  197.134023
2      Benin                Oranges - Retail     2020  205.483706
3      Benin                Oranges - Retail     2021  213.475604
4   Colombia  Oranges (big size) - Wholesale     2013  689.000000
..       ...                             ...      ...         ...
66    Turkey                Oranges - Retail     2017    2.852100
67    Turkey                Oranges - Retail     2018    2.982422
68    Turkey                Oranges - Retail     2019    4.339036
69    Turkey                Oranges - Retail     2020    5.369764
70    Turkey                Oranges - Retail     2021    6.311790

[71 rows x 4 columns]

In [65]:
orange_pr.adm0_name.unique()

array(['Algeria', 'Benin', 'Colombia', 'Ethiopia', 'Gambia', 'Jordan',
       'Mali', 'Nepal', 'Nicaragua', 'Nigeria', 'Rwanda',
       'State of Palestine', 'Turkey'], dtype=object)

## Affordibility

In [126]:
# lets define the class that holds the name of the countries we are interesed in
countries = {0:'Nepal',
             1:'Colombia',
             2:'Turkey',
             3:'Ethopita',
             4:'Jordan',
             5:'Mali',
             6:'Nigeria',
             7:'Rowanda',
             8:'State of Palestine'}
ser = pd.Series(data=countries)

In [136]:
# create a df to hold the data that we need using concat
ft = pd.concat([wheat_pr,rice_pr, meat_pr, orange_pr],ignore_index=True)
ft = ft.loc[ft.adm0_name.isin(ser)]
ft

     adm0_name                          cm_name  mp_year     mp_price
363   Colombia                Wheat - Wholesale     2020  7563.327966
364   Colombia                Wheat - Wholesale     2021  8176.627984
365   Colombia  Wheat flour (local) - Wholesale     2020  7801.062346
366   Colombia  Wheat flour (local) - Wholesale     2021  8432.376041
367   Colombia          Wheat flour - Wholesale     2000   739.197083
...        ...                              ...      ...          ...
5113    Turkey                 Oranges - Retail     2017     2.852100
5114    Turkey                 Oranges - Retail     2018     2.982422
5115    Turkey                 Oranges - Retail     2019     4.339036
5116    Turkey                 Oranges - Retail     2020     5.369764
5117    Turkey                 Oranges - Retail     2021     6.311790

[538 rows x 4 columns]

In [117]:
ft.columns

Index(['adm0_name', 'cm_name', 'mp_year', 'mp_price'], dtype='object')